body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bcf6ff+0,fcccf7+32,837dd8+69,bdf3fd+100 */
  background: #bcf6ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  hsl(188,100%,87%) 0%, hsl(306,89%,89%) 32%, hsl(244,54%,67%) 69%, hsl(189,94%,87%) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  hsl(188,100%,87%) 0%,hsl(306,89%,89%) 32%,hsl(244,54%,67%) 69%,hsl(189,94%,87%) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  hsl(188,100%,87%) 0%,hsl(306,89%,89%) 32%,hsl(244,54%,67%) 69%,hsl(189,94%,87%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcf6ff', endColorstr='#bdf3fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 1.5em;
  background: #ffffff4d;
  margin: 0 0 1em 0;
  padding: 1em;
}
#appName {
  font-style: italic;
  font-weight: normal;
  font-family: serif;
  font-size: 1.3em;
}

button#start {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
button#start:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
button#start:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
button#start:hover {
  color: #fff;
}
button#start:hover:before {
  width: 100%;
}

.buttonContainer {
  width: 15%;
  margin: 0 auto;
  min-width: 250px;
}

#progress {
  width: 100%;
}

p {
  padding: 0 5em 1.5em 5em;
}
#notice {
  text-align: center;
  font-weight: bold;
  font-size: 0.85em;
  color: #666;
}

#instancesTable tr.odd {
  background: #eeeeee99;
}
#instancesTable tr.even {
  background: #ffffff99;
}

#instancesTable tr.failed {
  background: black;
}
